

<section class="blogs">
<div class="container">

    <div class="row">
        <div class="col-md-12 text-center">
          <h2>Últimas noticias</h2>
        </div>
      </div>


    <div class="row blog">
        <div class="col-md-12">
            <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#blogCarousel" data-slide-to="1"></li>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="tarjeta-blogs">
                                    <figure><img class="img-fluid" src="/assets/imagenes/se-5.jpg"></figure>
                                    <div class="text">
                                      <h3>¿Seguridad en los colegios y universidades? Estas son las soluciones</h3>
                                      <p>Diciembre 24, 2018</p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="tarjeta-blogs">
                                    <figure><img class="img-fluid" src="/assets/imagenes/se-5.jpg"></figure>
                                    <div class="text">
                                      <h3>¿Seguridad en los colegios y universidades? Estas son las soluciones</h3>
                                      <p>Diciembre 24, 2018</p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="tarjeta-blogs">
                                    <figure><img class="img-fluid" src="/assets/imagenes/se-5.jpg"></figure>
                                    <div class="text">
                                      <h3>¿Seguridad en los colegios y universidades? Estas son las soluciones</h3>
                                      <p>Diciembre 24, 2018</p>
                                    </div>
                                  </div>
                            </div>
                         
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="tarjeta-blogs">
                                    <figure><img class="img-fluid" src="/assets/imagenes/se-5.jpg"></figure>
                                    <div class="text">
                                      <h3>¿Seguridad en los colegios y universidades? Estas son las soluciones</h3>
                                      <p>Diciembre 24, 2018</p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="tarjeta-blogs">
                                    <figure><img class="img-fluid" src="/assets/imagenes/se-5.jpg"></figure>
                                    <div class="text">
                                      <h3>¿Seguridad en los colegios y universidades? Estas son las soluciones</h3>
                                      <p>Diciembre 24, 2018</p>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="tarjeta-blogs">
                                    <figure><img class="img-fluid" src="/assets/imagenes/se-5.jpg"></figure>
                                    <div class="text">
                                      <h3>¿Seguridad en los colegios y universidades? Estas son las soluciones</h3>
                                      <p>Diciembre 24, 2018</p>
                                    </div>
                                  </div>
                            </div>
                         
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                </div>
                <!--.carousel-inner-->
            </div>
            <!--.Carousel-->

        </div>
    </div>
</div>


