<app-navbar></app-navbar>
<section class="breadcrumb">
    <div class="overlay"></div>
    <div class="container">
      <h2>Servicios</h2>
    </div>
  </section>

  <section class="detalle-servicio">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" src="/assets/imagenes/se-1.jpg">
        </div>

        <div class="col-md-6">
          <h4>Seguridad tecnológica</h4>
            <h2>Seguridad perimetral</h2>
            <p>La validez científica del polígrafo está plenamente comprobada. Su uso se ha incrementado y es aceptado como fuente de información necesaria para la toma de decisiones en el ámbito empresarial. Esta técnica de investigación permite evaluar y detectar, con un grado de certeza del 98%, si una persona dice la verdad o miente en afirmaciones sobre la vida profesional y laboral. Para su aplicación se utiliza el polígrafo, instrumento ultrasensible que registra 
              los cambios fisiológicos que se producen en una persona cuando dice algo que no es cierto.</p>
        
              <ul class="list-check">
                  <li> <i class="fas fa-shield-check"></i><span>Permite monitorear en tiempo real el personal a cargo</span></li>
                  <li><i class="fas fa-shield-check"></i><span>Permite monitorear emergencias</span></li>
                  <li><i class="fas fa-shield-check"></i><span>Permite descargar facturas</span></li>
                </ul>
          </div>
      </div>
    </div>

  </section>

  <app-trabaja-con-nosotros></app-trabaja-con-nosotros>
  <app-contacto></app-contacto>
  <app-footer></app-footer>