<section id="trabajaconnosotros" class="trabaja-con-nosotros">

  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <h2>Trabaja en la mejor empresa de seguridad</h2>
          <p>Implementamos procesos y procedimientos que nos permite conocer los riesgos en seguridad, anticiparnos a sus consecuencias, mediante un talento humano idóneo, altamente capacitado, comprometidos en el mejoramiento de sus sistemas o protocolos de seguridad para satisfacer sus requerimientos y minimizando los riesgos de nuestros clientes</p>
          <button class="btn btn-secundario btn-lg mt-2">Contáctenos</button>
     
        </div>

      <div class="col-md-6">
          <img class="img-fluid" src="/assets/imagenes/trabaja-con-nosotros.jpg">
        </div>
    </div>
  </div>

</section>
