
<app-navbar></app-navbar>
<section class="breadcrumb">
    <div class="overlay"></div>
    <div class="container">
      <h2>Ultimas noticias</h2>
      <h3>Detalle blog</h3>
    </div>
  </section>


<section class="detalle-blog">

  <div class="container">
    <div class="row">

        <div class="col-md-8">
            <h2 class="black titulo">Blog</h2>
            <div class="blank_space small"></div>
           <p>Marketing por BlogMIC el 29 de septiembre de 2018</p>
         
           <h3>¿Seguridad en los colegios y universidades? Estas son las soluciones</h3>
          
           <figure class="figure">
           <img class="img-fluid " src="assets/imagenes/se-3.jpg">
          </figure>
           <p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing</strong> elit. Nullam mollis gravida quam eget commodo. Suspendisse et metus ut tortor placerat convallis quis in tellus. Aliquam sed consequat mi, et vehicula sem. Fusce hendrerit tincidunt libero, nec dapibus enim consectetur quis. Nullam in tortor fringilla, lacinia quam eget, egestas nisi. Mauris ut venenatis diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris mauris orci, ultricies non cursus quis, pulvinar eleifend justo. Maecenas efficitur, orci nec molestie vehicula, velit odio placerat mi, et condimentum elit nulla pellentesque purus. Nullam pretium, elit vel consequat convallis, augue arcu efficitur risus, quis pulvinar elit ligula sed mi. Proin rutrum vulputate ex in hendrerit. 
             Pellentesque aliquam nibh eu sollicitudin interdum. Phasellus nec ante odio.</p>
    
             <div class="blank_space blog"></div>
             <h4 class="bold">Phasellus pellentesque consequat </h4>
    
             <ul>
               <li>  1. Nullam elementum finibus porta. <strong>Donec dignissim</strong> nisl et auctor dictum. Maecenas tortor leo,   
                 efficitur eu feugiat non, hendrerit condimentum augue. <u>Curabitur posuere</u> imperdiet placerat. Donec a mattis eros. Nullam eget mollis massa. </li>
             
                 <li>  2. Nullam elementum finibus porta. Donec dignissim nisl et auctor dictum. Maecenas tortor leo,   efficitur eu feugiat non, hendrerit condimentum augue. Curabitur posuere imperdiet placerat. Donec a mattis eros. Nullam eget mollis massa. </li>
                </ul>
                <figure class="figure">
                <img class="img-fluid" src="assets/imagenes/se-3.jpg">
                <figcaption class="figure-caption">A caption for the above image.</figcaption>
                </figure>
    
                <div class="blank_space blog"></div>
    
                <blockquote class="blockquote">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
          </div> 
    
          <div class="col-md-4">

            <h4>Profesionales en servicios de seguridad</h4>
            <ul class="lista-servicios">
              <li>Servicios de vigilancia residencial en Bogotá</li>
              <li>Escoltas para proteccion personal</li>
              <li>Proteccion especializada para carga critica</li>
              <li>Esquemas de seguridad para riesgos y necesidad</li>
              <li>Vigilantes para el control de acceso</li>


            </ul>

            <button class="btn btn-secundario btn-lg mt-2">Contáctenos</button>
          </div>

    </div>
  </div>
   
</section>




<app-contacto></app-contacto>
<app-footer></app-footer>