<section id="servicios" class="servicios">
  
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">Seguridad tecnológica</a>
    </li>
    <li class="nav-item">
      <a class="nav-link fisica" href="#buzz" role="tab" data-toggle="tab">Seguridad física</a>
    </li>

  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="profile">
        
<div class="wrap-servicio">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-12 tarjeta-servicio se1">
            <div class="overlay"></div>
                  <div class="contenido">
                      <h3>Seguridad perimetral</h3>
                      <button class="btn btn-secundario btn-lg mt-2">Ver más detalles <i class="fas fa-angle-right"></i></button>
                  </div>
            </div>
      
            <div class="col-md-4 col-sm-6 col-12 tarjeta-servicio se2">
                <div class="overlay"></div>
                    <div class="contenido">
                        <h3>Vigilancia para control de acceso</h3>
                        <button class="btn btn-secundario btn-lg mt-2">Ver más detalles <i class="fas fa-angle-right"></i></button>
                    </div>
              </div>
      
      
              <div class="col-md-4 col-sm-6 col-12 tarjeta-servicio se3">
                  <div class="overlay"></div>
                      <div class="contenido">
                          <h3>Circuito cerrado de tv</h3>
                          <button class="btn btn-secundario btn-lg mt-2">Ver más detalles <i class="fas fa-angle-right"></i></button>
                      </div>
                </div>
      
                <div class="col-md-4 col-sm-6 col-12 tarjeta-servicio se4">
                    <div class="overlay"></div>
                        <div class="contenido">
                            <h3>monitoreo y apoyo de alarmas</h3>
                            <button class="btn btn-secundario btn-lg mt-2">Ver más detalles <i class="fas fa-angle-right"></i></button>
                        </div>
                  </div>
      
                  <div class="col-md-4 col-sm-6 col-12 tarjeta-servicio se5">
                      <div class="overlay"></div>
                          <div class="contenido">
                              <h3>estudios de confiablidad</h3>
                              <button class="btn btn-secundario btn-lg mt-2">Ver más detalles <i class="fas fa-angle-right"></i></button>
                          </div>
                    </div>
      
                    <div class="col-md-4 col-sm-6 col-12 tarjeta-servicio se6">
                        <div class="overlay"></div>
                            <div class="contenido">
                                <h3>asesorías y consultoría</h3>
                                <button class="btn btn-secundario btn-lg mt-2">Ver más detalles <i class="fas fa-angle-right"></i></button>
                            </div>
                      </div>
      
          </div>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="buzz">
      

<div class="wrap-servicio">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-12 tarjeta-servicio sf1">
         <div class="overlay"></div>
              <div class="contenido">
                  <h3>Seguridad de instalaciones fija y móvil</h3>
                  <button class="btn btn-terciario btn-lg mt-2">Ver más detalles <i class="fas fa-angle-right"></i></button>
              </div>
        </div>
  
        <div class="col-md-4 col-sm-6 col-12 tarjeta-servicio sf2">
            <div class="overlay"></div>
                 <div class="contenido">
                     <h3>Modelo de gesitón de riesgo</h3>
                     <button class="btn btn-terciario btn-lg mt-2">Ver más detalles <i class="fas fa-angle-right"></i></button>
                 </div>
           </div>
  
  
           <div class="col-md-4 col-sm-6 col-12 tarjeta-servicio sf3">
              <div class="overlay"></div>
                   <div class="contenido">
                       <h3>Estudios de confiablidad</h3>
                       <button class="btn btn-terciario btn-lg mt-2">Ver más detalles <i class="fas fa-angle-right"></i></button>
                   </div>
             </div>
  
             <div class="col-md-4 col-sm-6 col-12 tarjeta-servicio sf4">
                <div class="overlay"></div>
                     <div class="contenido">
                         <h3>Escoltas a particulares</h3>
                         <button class="btn btn-terciario btn-lg mt-2">Ver más detalles <i class="fas fa-angle-right"></i></button>
                     </div>
               </div>
  
               <div class="col-md-4 col-sm-6 col-12 tarjeta-servicio sf5">
                  <div class="overlay"></div>
                       <div class="contenido">
                           <h3>Seguridad de cargamento</h3>
                           <button class="btn btn-terciario btn-lg mt-2">Ver más detalles <i class="fas fa-angle-right"></i></button>
                       </div>
                 </div>
  
                 <div class="col-md-4 col-sm-6 col-12 tarjeta-servicio sf6">
                    <div class="overlay"></div>
                         <div class="contenido">
                             <h3>Investigaciones</h3>
                             <button class="btn btn-terciario btn-lg mt-2">Ver más detalles <i class="fas fa-angle-right"></i></button>
                         </div>
                   </div>
  
      </div>
    </div>
  </div>
    </div>
  </div>
</section>







