
<app-navbar></app-navbar>
<section class="breadcrumb">
    <div class="overlay"></div>
    <div class="container">
      <h2>Ultimas noticias</h2>
    </div>
  </section>

<section class="blogs">
  <div class="container">
    <div class="row">

      
        <div class="col-md-4 col-sm-6 col-12 ">

            <div class="tarjeta-blogs">
              <figure><img class="img-fluid" src="/assets/imagenes/se-5.jpg"></figure>
              <div class="text">
                <h3>¿Seguridad en los colegios y universidades? Estas son las soluciones</h3>
                <p>Diciembre 24, 2018</p>
              </div>
            </div>
    
          </div>


          
      <div class="col-md-4 col-sm-6 col-12 ">

          <div class="tarjeta-blogs">
            <figure><img class="img-fluid" src="/assets/imagenes/se-5.jpg"></figure>
            <div class="text">
              <h3>¿Seguridad en los colegios y universidades? Estas son las soluciones</h3>
              <p>Diciembre 24, 2018</p>
            </div>
          </div>
  
        </div>
      
    </div>
  </div>
</section>



<app-contacto></app-contacto>
<app-footer></app-footer>