@import './src/styles/shield/import.scss';

.banner {
    position:relative;
    background-image: url(/assets/imagenes/home-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    padding:10rem 0rem;
    @include tablet-down { padding:5rem 0rem;}
    h1 {color:white}

    video {
    width:100%;
    border:2px solid white
    }
}