

<div class="" id="page-top"></div>
<nav class="navbar navbar-expand-lg navbar-mic">
  <div class="container">

    <div class="site-logo col-lg-3 col-xs-9">
     <img class="navbar-brand" src="/assets/imagenes/logo.png">

    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
     

            <div class="header-content col-lg-9 col-md-12 col-xs-12">

                <div id="topbar" class="topbar-nav">
                  
                        <div class="widget">
                         <i class="fas fa-phone"></i>
                            <p class="title">CONTACTO <span>PBX: 7035283 - 3168342472</span></p>
                            <i class="fas fa-map-marker-alt"></i>
                            <p class="title">UBICACIÓN <span>Cra. 67A #44-28 Salitre El Greco</span></p>
                        </div>
               
                        <div class="menu-block-right"></div>
                  
                </div>


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="#page-top" data-scroll="data-scroll">Inicio</a>
                      </li>
              
                      <li class="nav-item ">
                          <a class="nav-link" href="#servicios" data-scroll="data-scroll">Servicios</a>
                        </li>
              
                        <li class="nav-item ">
                            <a class="nav-link goto" href="#trabajaconnosotros" data-scroll="data-scroll">Trabaje con nosotros</a>
                          </li>
              
                          <li class="nav-item ">
                              <a class="nav-link" href="blog.html" data-scroll="data-scroll">Blog</a>
                            </li>
              
                            <li class="nav-item ">
                                <a class="nav-link" href="#contacto" data-scroll="data-scroll">Contacto</a>
                              </li>
                       </ul>
                  </div><!-- collapse-->
      
              </div>
          
          

          </div>
    </nav>
  