<section class="aplicacion">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-lg-first order-md-first order-second">
        <img class="img-app" src="/assets//imagenes/app-smartphone.png">
      </div>

      <div class="col-md-6 order-lg-second order-md-second order-first">
          <h2>Única empresa que cuenta con aplicación móvil para mayor control de los servicios</h2>

          <ul class="list-check">
            <li> <i class="fas fa-shield-check"></i><span>Permite monitorear en tiempo real el personal a cargo</span></li>
            <li><i class="fas fa-shield-check"></i><span>Permite monitorear emergencias</span></li>
            <li><i class="fas fa-shield-check"></i><span>Permite descargar facturas</span></li>
          </ul>
        </div>
    </div>
  </div>
</section>