<div id="contacto" class="contacto">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <h2>Contactenos</h2>

          <form class="form-contacto">
                <div class="form-group">
                  <input type="name" class="form-control" placeholder="Nombre completo...">
                </div>
    
           <!--  <div class="alert" role="alert">
                    Por favor, completa este campo!
                  </div>-->
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Correo electrónico">
                  </div>


                  <div class="form-group">
  
                      <select class="form-control" >
                        <option>Tipo de servicio</option>
                        <option>Seguridad perimetral</option>
                        <option>Vigilancia para el control de acceso</option>
                        <option>Circuito cerrado de TV</option>
                        <option>Monitoreo y apoyo de alarmas</option>
                        <option>Estudios de confiabilidad</option>
                        <option>Asesorías y consultoría</option>
                        <option>OTRO...</option>

                      </select>
                    </div>

    
                 <!-- <div class="alert" role="alert">
                      Por favor, completa este campo!
                    </div>-->
                  <div class="form-group">
                      <input type="number" class="form-control" placeholder="Número de celular">
                    </div>
    
                    <div class="form-group">
                        <textarea style="resize:none;height:100px" class="form-control" placeholder="Mensaje..." rows="4"></textarea>
                    </div>
                    <!--<div class="alert" role="alert">
                        Déjanos un mensaje...
                      </div>-->
                      <div class="form-group form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Autorizo de forma libre, consciente e 
                            informada el tratamiento de mi información personal 
                            de acuerdo a las finalidades establecidas en la Política de tratamiento de datos personales, 
                            las cuales puede <a>consultar aquí.</a></label>
                        </div>
       
                <button type="submit" class="btn btn-secundario btn-lg">Enviar mensaje</button>
              </form>
      </div>

      <div class="col-md-6">
          <div class="box-contacto">
            <div class="info">
                <i class="fas fa-phone marker"></i>
              <p>Contacto<span>PBX: 7035283 - 3168342472</span></p>
            </div>

            <div class="info">
                <i class="fas fa-map-marker-alt"></i>
              <p>Ubicación<span>Cra. 67A #44-28 Salitre El Greco</span></p>
            </div>
          </div>

          <div class="map-responsive">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11247.694608267622!2d-74.11083242407346!3d4.65448244367331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9b962ad395cd%3A0x44f022bac9f1012a!2sCra.+67a+%2344-28%2C+Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1543870207937" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

          </div>
        </div>
    </div>
  </div>
</div>